body{
    text-align: center;
    background-image: url("../img/cage.svg");
    background-repeat: repeat;
    color: blue;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    padding: 0;
    margin: 5px;
}
p{
    padding: 0;
    margin: 5px;
}
button{
    font-size: 20px;
    font-style: italic;
    padding: 0 50px 0 50px;
    margin: 5px;
    box-shadow: 7px 7px 7px #aaaaaa;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
button:active{
    box-shadow: 4px 4px 4px #aaaaaa;
    left: 2px;
    top: 2px
}
input{
    font-size: 20px;
    font-style: italic;
}
.r{
    text-align: right;
}
.l{
    text-align: left;
}

#settings{
    display: inline-block;
}
#settings img{
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}

#game{
    position: relative;
    margin: 10px;
    padding: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 350px;
}
#tabl, #line{
    position: absolute;
    left: 0;
    top: 50px;
}
img[id="1"]{
    position: absolute;
    left: 5px;
    top: 50px;
}
img[id="2"]{
    position: absolute;
    left: 105px;
    top: 50px;
}
img[id="3"]{
    position: absolute;
    left: 205px;
    top: 50px;
}
img[id="4"]{
    position: absolute;
    left: 0;
    top: 150px;
}
img[id="5"]{
    position: absolute;
    left: 100px;
    top: 150px;
}
img[id="6"]{
    position: absolute;
    left: 200px;
    top: 150px;
}
img[id="7"]{
    position: absolute;
    left: -5px;
    top: 250px;
}
img[id="8"]{
    position: absolute;
    left: 95px;
    top: 250px;
}
img[id="9"]{
    position: absolute;
    left: 195px;
    top: 250px;
}