body{
    text-align: center;
    background-image: url("../img/cage.svg");
    background-repeat: repeat;
    color: #043b7a;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    padding: 0;
    margin: 5px;
}
p{
    padding: 0;
    margin: 5px;
}
button{
    font-size: 20px;
    font-style: italic;
    padding: 0 50px 0 50px;
    margin: 5px;
    box-shadow: 7px 7px 7px #aaaaaa;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
button:active{
    box-shadow: 4px 4px 4px #aaaaaa;
    left: 2px;
    top: 2px
}
button[disabled]{
    background-color: #f0f8ff;
    cursor: default;
}
input{
    font-size: 20px;
    font-style: italic;
}
label, input[type=radio]{
    cursor: pointer;
}
.r{
    text-align: right;
}
.l{
    text-align: left;
}

#settings{
    display: inline-block;
}
#settings img{
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}

#game{
    position: relative;
    margin: 10px;
    padding: 0;
    text-align: center;
    display: none;
    vertical-align: top;
    width: 300px;
    height: 350px;
}
#game img{
    position: absolute;
}
#tabl, #line{
    left: 0;
    top: 50px;
}
#line{
    /*display: none;*/
}
img[id="1"]{
    left: 5px;
    top: 50px;
}
img[id="2"]{
    left: 105px;
    top: 50px;
}
img[id="3"]{
    left: 205px;
    top: 50px;
}
img[id="4"]{
    left: 0;
    top: 150px;
}
img[id="5"]{
    left: 100px;
    top: 150px;
}
img[id="6"]{
    left: 200px;
    top: 150px;
}
img[id="7"]{
    left: -5px;
    top: 250px;
}
img[id="8"]{
    left: 95px;
    top: 250px;
}
img[id="9"]{
    left: 195px;
    top: 250px;
}

#info{
    display: none;
    vertical-align: top;
    width: 300px;
}
#info img{
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}
#info table{
    margin: auto;
}
#info td{
    text-align: right;
}
#message{
    border-bottom: solid 4px #999999;
}